#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Scope {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Label_432 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Label_441 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Label_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Ellipse_79 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Ellipse_80 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Ellipse_81 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Ellipse_82 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Label_458 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Label_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Plus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Rectangle_Favorite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Favorite_Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Star {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Background_Contact {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Connie_Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Katie_Name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Telephone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Background_Contact_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Katie_Name_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Telephone_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Background_Contact_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Katie_Name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Telephone_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Background_Contact_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Katie_Name_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Telephone_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Background_Contact_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Katie_Name_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Telephone_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Background_Contact_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Katie_Name_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Telephone_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Background_Contact_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Katie_Name_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Telephone_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Background_Contact_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Katie_Name_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Telephone_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Background_Contact_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Katie_Name_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Telephone_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Background_Contact_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Katie_Name_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Telephone_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Rectangle_Favorite_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Text_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Text_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-SwipeFromBtoA {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-SwipeLeftToC {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-TapBtoA {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-TapBtoC {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1e188b57-4a95-4f92-95c1-f85fe9111e2a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}