#s-35588adf-9462-421c-9c61-c32752919b25 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Scope {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Label_432 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Label_441 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Label_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Ellipse_79 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Ellipse_80 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Ellipse_81 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Ellipse_82 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Label_458 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Label_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Plus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Rectangle_Favorite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Favorite_Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Star {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Background_Contact_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Katie_Name_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Telephone_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Background_Contact_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Katie_Name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Telephone_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Background_Contact_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Katie_Name_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Telephone_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Background_Contact_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Katie_Name_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Telephone_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Background_Contact_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Katie_Name_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Telephone_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Background_Contact_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Katie_Name_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Telephone_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Background_Contact_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Katie_Name_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Telephone_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Background_Contact_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Katie_Name_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Telephone_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Background_Contact_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Katie_Name_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Telephone_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Rectangle_Favorite_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-SwipeAtoB {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-TapAtoB {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Star_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Background_Contact_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Katie_Name_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Telephone_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Unfavorite_Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35588adf-9462-421c-9c61-c32752919b25 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-35588adf-9462-421c-9c61-c32752919b25 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}