#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Paragraph_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}