#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Paragraph_7 {
  position: absolute;
  top: 658px;
  left: 2px;
  width: 412px;
  height: 74px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Paragraph_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Dynamic_Panel_7 {
  position: absolute;
  top: 186px;
  left: -62px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Panel_7 {
  width: 0px;
  height: 0px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Dynamic_Panel_11 {
  position: absolute;
  top: 30px;
  left: 10px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Panel_5 {
  width: 68px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Image_1 {
  position: absolute;
  top: 9px;
  left: 0px;
  width: 414px;
  height: 736px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_1 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 413px;
  height: 92px;
  background-color: #36549D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_1 span {
  color: #FD999A;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FD999A;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 413px;
  height: 20px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 413px;
  height: 19px;
  background-color: #1F3199;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_2 span {
  color: #FD999A;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FD999A;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 401px;
  height: 20px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 327px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 164px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 0px;
  width: 34px;
  height: 6px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 334px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Image_12 {
  position: absolute;
  top: 5px;
  left: 376px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Text_1 {
  position: absolute;
  top: 41px;
  left: 173px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_3 {
  position: absolute;
  top: 109px;
  left: 102px;
  width: 160px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Text_2 {
  position: absolute;
  top: 107px;
  left: 108px;
  width: 147px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_4 {
  position: absolute;
  top: 704px;
  left: 0px;
  width: 414px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 122px;
  left: 313px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Panel_2 {
  width: 45px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 122px;
  left: 357px;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Panel_3 {
  width: 55px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Image_2 {
  position: absolute;
  top: 103px;
  left: 14px;
  width: 80px;
  height: 82px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 #s-Image_3 {
  position: absolute;
  top: 40px;
  left: 6px;
  width: 72px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3ad8a7f5-317d-491b-bd82-301f15a6d0f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}