#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Check-box_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Check-box_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-51045fdf-de07-4a6d-afd4-35b40a5efd30 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}