#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Image_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 74px;
  margin-top: -75px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Label_435 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}