#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Image_1 {
  -ms-transform: rotate(90.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Label_435 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5b7ed832-65ff-450e-936c-953b7fa303cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}