#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-723b5e72-8565-48d8-97be-32cf1b62d713 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}