#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Triangle_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Label_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Triangle_5 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-806c9eea-3278-4194-97db-89200f4695d9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}