#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_2 {
  position: absolute;
  top: 65px;
  left: 12px;
  width: 129px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_3 {
  position: absolute;
  top: 191px;
  left: 12px;
  width: 96px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Line_1 {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 414px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_4 {
  position: absolute;
  top: 332px;
  left: 8px;
  width: 137px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Line_2 {
  position: absolute;
  top: 197px;
  left: 0px;
  width: 414px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Line_3 {
  position: absolute;
  top: 332px;
  left: 0px;
  width: 414px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Search-bar-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 66px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Group_68 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 414px;
  height: 63px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 62px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Input_12 {
  position: absolute;
  top: 27px;
  left: 10px;
  padding-left: 25px;
  width: 364px;
  height: 22px;
  background-color: #EAEAEA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EAEAEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EAEAEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EAEAEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EAEAEA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Input_12 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Input_12 input {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_56 {
  position: absolute;
  top: 38px;
  left: 172px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_56 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_56 span#rtr-s-Label_56_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Group_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 22px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_19 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 414px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_19 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_432 {
  position: absolute;
  top: 6px;
  left: 45px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_432 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_432 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_432 span#rtr-s-Label_432_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_441 {
  position: absolute;
  top: 7px;
  left: 331px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_441 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_441 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_441 span#rtr-s-Label_441_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_114 {
  position: absolute;
  top: 3px;
  left: 169px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_114 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_114 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_114 span#rtr-s-Label_114_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Group_41 {
  position: absolute;
  top: 10px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_24 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_24 .content {
  width: 6px;
  height: 6px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_24 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_24 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_24 span#rtr-s-Ellipse_24_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_79 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_79 .content {
  width: 6px;
  height: 6px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_79 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_79 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_79 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_79 span#rtr-s-Ellipse_79_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_80 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_80 .content {
  width: 6px;
  height: 6px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_80 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_80 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_80 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_80 span#rtr-s-Ellipse_80_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_81 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_81 .content {
  width: 6px;
  height: 6px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_81 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_81 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_81 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_81 span#rtr-s-Ellipse_81_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_82 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_82 .content {
  width: 6px;
  height: 6px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Ellipse_82 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_82 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_82 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #shapewrapper-s-Ellipse_82 span#rtr-s-Ellipse_82_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_458 {
  position: absolute;
  top: 0px;
  left: 380px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_458 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_458 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_458 span#rtr-s-Label_458_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_115 {
  position: absolute;
  top: 3px;
  left: 338px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_115 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_115 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_115 span#rtr-s-Label_115_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_1 {
  position: absolute;
  top: 91px;
  left: 0px;
  width: 414px;
  height: 101px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_3 {
  position: absolute;
  top: 234px;
  left: 0px;
  width: 142px;
  height: 91px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_5 {
  position: absolute;
  top: 356px;
  left: 0px;
  width: 320px;
  height: 336px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Tab-bar {
  position: absolute;
  top: 685px;
  left: 0px;
  width: 414px;
  height: 50px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Tab-bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Tab-bar span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Tab-bar span#rtr-s-Tab-bar_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_3 {
  position: absolute;
  top: 91px;
  left: 0px;
  width: 414px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_4 {
  position: absolute;
  top: 228px;
  left: -10px;
  width: 414px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_5 {
  position: absolute;
  top: 320px;
  left: -10px;
  width: 414px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_470 {
  position: absolute;
  top: 154px;
  left: 57px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_470 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_470 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_470 span#rtr-s-Label_470_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_471 {
  position: absolute;
  top: 156px;
  left: 146px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_471 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_471 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_471 span#rtr-s-Label_471_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_472 {
  position: absolute;
  top: 156px;
  left: 306px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_472 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_472 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_472 span#rtr-s-Label_472_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_473 {
  position: absolute;
  top: 156px;
  left: 227px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_473 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_473 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_473 span#rtr-s-Label_473_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_474 {
  position: absolute;
  top: 156px;
  left: 394px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_474 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_474 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_474 span#rtr-s-Label_474_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Group_3 {
  position: absolute;
  top: 400px;
  left: 62px;
  width: 148px;
  height: 280px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 128px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_14 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_6 {
  position: absolute;
  top: 49px;
  left: 0px;
  width: 128px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_7 {
  position: absolute;
  top: 61px;
  left: 10px;
  width: 128px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_8 {
  position: absolute;
  top: 71px;
  left: 20px;
  width: 128px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_8 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_9 {
  position: absolute;
  top: 212px;
  left: 0px;
  width: 128px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_9 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_10 {
  position: absolute;
  top: 160px;
  left: 0px;
  width: 138px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_10 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_11 {
  position: absolute;
  top: 262px;
  left: 0px;
  width: 128px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_12 {
  position: absolute;
  top: 105px;
  left: 0px;
  width: 128px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_12 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_475 {
  position: absolute;
  top: 431px;
  left: 338px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_475 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_475 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_475 span#rtr-s-Label_475_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_476 {
  position: absolute;
  top: 382px;
  left: 338px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_476 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_476 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_476 span#rtr-s-Label_476_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_16 {
  position: absolute;
  top: 482px;
  left: 340px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_18 {
  position: absolute;
  top: 591px;
  left: 340px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_19 {
  position: absolute;
  top: 641px;
  left: 340px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_15 {
  position: absolute;
  top: 642px;
  left: 382px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_11 {
  position: absolute;
  top: 541px;
  left: 382px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_12 {
  position: absolute;
  top: 434px;
  left: 382px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_13 {
  position: absolute;
  top: 592px;
  left: 382px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_14 {
  position: absolute;
  top: 483px;
  left: 382px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_20 {
  position: absolute;
  top: 385px;
  left: 382px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_21 {
  position: absolute;
  top: 384px;
  left: 340px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_22 {
  position: absolute;
  top: 433px;
  left: 340px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_15 {
  position: absolute;
  top: 530px;
  left: 7px;
  width: 47px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_15 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_2 {
  position: absolute;
  top: 385px;
  left: 78px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 205px;
  height: 122px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: dashed;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: dashed;
  border-left-color: #A9A9A9;
  border-radius: 31px 31px 31px 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_10 > svg {
  width: 59px;
  height: 51px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_10 {
  position: absolute;
  top: 457px;
  left: 716px;
  width: 59px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_23 > svg {
  width: 40px;
  height: 47px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_23 {
  position: absolute;
  top: 506px;
  left: -267px;
  width: 40px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_24 {
  position: absolute;
  top: 437px;
  left: 99px;
  width: 43px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_29 {
  position: absolute;
  top: 531px;
  left: 5px;
  width: 51px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_1 {
  position: absolute;
  top: 532px;
  left: 60px;
  width: 273px;
  height: 43px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Tahoma,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_477 {
  position: absolute;
  top: 540px;
  left: 338px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_477 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_477 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_477 span#rtr-s-Label_477_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Tab-bar_1 {
  position: absolute;
  top: 685px;
  left: 0px;
  width: 414px;
  height: 50px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Tab-bar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Tab-bar_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Tab-bar_1 span#rtr-s-Tab-bar_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_5 {
  position: absolute;
  top: 719px;
  left: 231px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_8 {
  position: absolute;
  top: 718px;
  left: 135px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_8 > svg {
  width: 34px;
  height: 34px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_8 {
  position: absolute;
  top: 664px;
  left: 644px;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_6 {
  position: absolute;
  top: 719px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_6 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_4 > svg {
  width: 34px;
  height: 36px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_4 {
  position: absolute;
  top: 686px;
  left: -139px;
  width: 34px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_478 {
  position: absolute;
  top: 480px;
  left: 338px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_478 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_478 span {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Label_478 span#rtr-s-Label_478_0 {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_30 {
  position: absolute;
  top: 106px;
  left: 175px;
  width: 63px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_7 {
  position: absolute;
  top: 160px;
  left: 184px;
  width: 44px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Tahoma,Arial;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_7 span#rtr-s-Text_7_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Text_7 span#rtr-s-Text_7_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Tahoma,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_6 > svg {
  width: 36px;
  height: 36px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_6 {
  position: absolute;
  top: 585px;
  left: -247px;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_7 {
  position: absolute;
  top: 439px;
  left: 170px;
  width: 40px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_9 {
  position: absolute;
  top: 436px;
  left: 229px;
  width: 59px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_2 {
  position: absolute;
  top: 686px;
  left: 239px;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_17 > svg {
  width: 40px;
  height: 39px;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_17 {
  position: absolute;
  top: 641px;
  left: -306px;
  width: 40px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_25 {
  position: absolute;
  top: 684px;
  left: 34px;
  width: 40px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_26 {
  position: absolute;
  top: 686px;
  left: 131px;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 #s-Image_27 {
  position: absolute;
  top: 686px;
  left: 332px;
  width: 51px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b1d0fef2-6765-4970-b8a5-1f7f59ab6814 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}