#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 26px 26px 26px 26px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  width: 225px;
  height: 44px;
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 24px 24px 24px 24px;
  padding-top: 12px;
  padding-right: 19px;
  padding-bottom: 12px;
  padding-left: 19px;
  width: 180px;
  height: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}