#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_7 {
  position: absolute;
  top: 690px;
  left: 0px;
  width: 412px;
  height: 45px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 259px;
  left: 40px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Panel_1 {
  width: 373px;
  height: 432px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_1 {
  position: absolute;
  top: 125px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_1 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_1 span#rtr-s-Check-box_1_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_3 {
  position: absolute;
  top: 208px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_3 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_3 span#rtr-s-Check-box_3_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 256px;
  left: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Panel_2 {
  width: 41px;
  height: 435px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_1 {
  position: absolute;
  top: 12px;
  left: 0px;
  width: 413px;
  height: 81px;
  background-color: #36549D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_1 span {
  color: #FD999A;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FD999A;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_4 {
  position: absolute;
  top: 42px;
  left: 283px;
  width: 120px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Text_2 {
  position: absolute;
  top: 41px;
  left: 157px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 413px;
  height: 19px;
  background-color: #1F3199;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_4 span {
  color: #FD999A;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FD999A;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 401px;
  height: 20px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 327px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 164px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 0px;
  width: 34px;
  height: 6px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 334px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_12 {
  position: absolute;
  top: 5px;
  left: 376px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Dynamic_Panel_12 {
  position: absolute;
  top: 41px;
  left: 279px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Panel_6 {
  width: 41px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 40px;
  left: 370px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Panel_4 {
  width: 44px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Dynamic_Panel_13 {
  position: absolute;
  top: 41px;
  left: 321px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Panel_13 {
  width: 44px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Panel_13 .verticalalign {
  vertical-align: top;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_10 {
  position: absolute;
  top: 99px;
  left: 112px;
  padding-right: 20px;
  padding-left: 20px;
  width: 225px;
  height: 44px;
  background-color: #999999;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 26px 26px 26px 26px;
  padding-top: 13px;
  padding-bottom: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: SF UI Text,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: SF UI Text,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: SF UI Text,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_11 {
  position: absolute;
  top: 185px;
  left: 66px;
  padding-right: 19px;
  padding-left: 19px;
  width: 180px;
  height: 41px;
  background-color: #E5E5EA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 24px 24px 24px 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: SF UI Text,Arial;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: SF UI Text,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: SF UI Text,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_1 {
  position: absolute;
  top: 694px;
  left: 378px;
  width: 28px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_2 {
  position: absolute;
  top: 695px;
  left: 5px;
  width: 40px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_3 {
  position: absolute;
  top: 44px;
  left: 8px;
  width: 78px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}