#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Check-box_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d13c9f7c-08c2-4edd-86e1-b19f0ec485f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}