#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Label_435 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d5112630-04e3-4983-9d19-e0f686622ad6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}