#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Rectangle_13 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Scope {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Label_432 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Label_441 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Label_114 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Ellipse_79 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Ellipse_80 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Ellipse_81 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Ellipse_82 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Label_458 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Label_115 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Plus {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Rectangle_Favorite {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Favorite_Text {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Star {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Background_Contact_1 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Katie_Name_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Telephone_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Background_Contact_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Katie_Name_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Telephone_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Background_Contact_3 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Katie_Name_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Telephone_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Background_Contact_4 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Katie_Name_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Telephone_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Background_Contact_5 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Katie_Name_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Telephone_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Background_Contact_6 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Katie_Name_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Telephone_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Background_Contact_7 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Katie_Name_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Telephone_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Background_Contact_8 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Katie_Name_8 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Telephone_8 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Background_Contact_9 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Katie_Name_9 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Telephone_9 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Rectangle_Favorite_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-SwipeAtoB {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-TapAtoB {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Star_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Background_Contact_10 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Katie_Name_10 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Telephone_10 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fae93e80-750a-459e-a5d4-e6c61f79aade > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}